<div class="container-fluid col-12">
  <div class="row">
    <div class="r container-widgets col-6">
      <app-tableau-soignant></app-tableau-soignant>
    </div>
    <div class="container-widgets col-6">
      <app-planication></app-planication>
      <div class="container-widgets col-6 mt-5">
        <app-search-soignant></app-search-soignant>
      </div>
    </div>
  </div>
  <div class="row col-6 justify-content-end btn-more">
    <i class="pi pi-plus bg-primary more-infirmiere" (click)="addInfirmiere()"></i>
  </div>
</div>
