<header class="justify-content-center fixed-top">
  <nav class="menum navbar navbar-light navbar-expand-md">
    <div class="container">
      <div class=" justify-content-between align-items-center w-100" id="">
        <ul class="navbar-nav mx-auto text-center">
          <li class="nav-item active"><a class="nav-link" routerLink="/home">Home</a></li>
          <li class="nav-item active"><a class="nav-link" routerLink="/planinng">planning</a></li>
          <li *ngIf="!isAuth" class="nav-item"><a class="nav-link" routerLink="/logina">Se connecter</a></li>
          <li *ngIf="!isAuth" class="nav-item"><a class="nav-link" routerLink="/signup">S'inscrire</a></li>
          <li *ngIf="isAuth" class="cursor-pointer nav-item"><a class="nav-link" (click)="onSignOut()">Deconnexion</a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>
