<div class="container-fluid patient">
  <div class="row">
    <div class="col-12 col-md-6" *ngIf="patient">
      <h2 class="d-inline-block">
        <i class="pi pi-id-card mr-1" style="font-size: 1.5rem"></i>{{patient | fullName}}
      </h2>
      <p-button icon="pi pi-user-edit" (click)="edit()" label="Modifier"></p-button>
      <div class="form-group">
        <ul>
          <li>Soignant suiveur : {{patient.soignant?.trg}}</li>
          <li>Date de naissance : {{patient.dateNaissance | date : 'dd/MM/yyyy'}}</li>
          <li>Email : {{patient.email}}</li>
          <li>Adresse : {{patient.address}}</li>
          <li>
            <h3>Téléphone</h3>
            <ul>
              <li>Mobile : {{patient.tel?.mobile}}</li>
              <li>Fixe : {{patient.tel?.fixe}}</li>
              <li *ngIf="patient.tel?.autre">Autre : {{patient.tel?.autre}}</li>
            </ul>
          </li>
        </ul>
      </div>
      [SOINS ET COMMENTAIRES]
    </div>

    <app-patient-rdvs class="col-12 col-md-6" *ngIf="patient" [patient]="patient"></app-patient-rdvs>
  </div>
</div>
