.patient {
  input {
    margin: 15px 0;
  }

  .rdvs {
    .card {
      padding-bottom: 10px;
      max-height: 500px;
      overflow-y: auto;
    }

    .badge {
      border-radius: 2px;
      padding: 0.25em 0.5rem;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 12px;
      letter-spacing: .3px;
    }
  }
}
