<div class="container">
  <form [formGroup]="searchInfirmierForm">
    <input class="text-capitalize" placeholder="nom" type="text" (input)="searchString('nom')" formControlName="nom"/>
    <input class="text-capitalize" placeholder="Prénom" type="text" (input)="searchString('prenom')" formControlName="prenom"/>
  </form>
  <ul *ngIf="!searchFilters.length || searchResults?.length else noResult">
    <li *ngFor="let soignant of searchResults" class="cursor-pointer">{{soignant.nom}} {{soignant.prenom}}</li>
  </ul>
  <ng-template #noResult>Aucun soignant trouvé</ng-template>
</div>
