<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="./assets/icons8-infirmière-100.png" id="icon" alt="User Icon"/>
    </div>

    <!-- Login Form -->
    <form [formGroup]="signinForm" (ngSubmit)="onSubmitSigninForm()">
      <input type="text" id="login" class="fadeIn second" name="login" placeholder="login" formControlName="email">
      <input type="text" id="password" class="fadeIn third" name="login" placeholder="password" formControlName="password">
      <input type="submit" class="fadeIn fourth" value="Log In" [disabled]="signinForm.invalid">
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" routerLink="/resetPassword">Forgot Password?</a>
    </div>

  </div>
</div>
