.patient-rdvs {
  .card {
    padding-bottom: 10px;
    max-height: 500px;
    overflow-y: auto;
  }

  .custom-marker {
    display: flex;
    width: 2rem;
    height: 2rem;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: black;
    border: 1px solid black;
    z-index: 1;
  }
}
