@import url(http://fonts.googleapis.com/css?family=Raleway);

.all {
  //height: 100vh;
  //display: flex;
  //justify-content: center;
  //align-items: center;
  //flex-direction: column;

}

a {
  color: #fff !important;
}

nav {
  background-color: maroon;
  margin-bottom: 10rem;
}

.nav-item {
  //  font-family: Century Gothic, serif;
  margin: 0 auto;
  //padding: 5em 3em;
  //text-align: center;
  //}
  //.nav-item a {
  //  color: #FFF;
  //  text-decoration: none;
  //  font: 20px Century Gothic;
  //  margin: 0px 10px;
  //  padding: 10px 10px;
  //  position: relative;
  //  z-index: 0;
}


/* Top & Bottom Borders Out */
//.topBotomBordersOut a:before, .topBotomBordersOut a:after {
//  position: absolute;
//  left: 0px;
//  width: 100%;
//  height: 2px;
//  background: #FFF;
//  content:"";
//  opacity: 0;
//  -webkit-transition: all 0.3s;
//  transition: all 0.3s;
//}
//.topBotomBordersOut a:before {
//  top: 0px;
//  transform: translateY(10px);
//}
//.topBotomBordersOut a:after {
//  bottom: 0px;
//  transform: translateY(-10px);
//}
//.topBotomBordersOut a:hover:before, .topBotomBordersOut a:hover:after {
//  opacity: 1;
//  transform: translateY(0px);
//}
#mainApp {
  margin-top: 56px;
}
