<div class="row col-12 m-0 p-0">
  <!-- Plannig global -->
  <div class="row col-12 col-md-8 m-0 border justify-content-center align-items-center">
    [ Calendrier global ]
    <!--      <mwl-calendar-week-view-->
    <!--        [viewDate]="viewDate"-->
    <!--        [events]="events"-->
    <!--        [refresh]="refresh"-->
    <!--        [daysInWeek]=""-->
    <!--        [locale]="locale"-->
    <!--        [weekStartsOn]="weekStartsOn"-->
    <!--        [weekendDays]="weekendDays">-->
    <!--      </mwl-calendar-week-view>-->
  </div>
  <!-- Plannig perso -->
  <div class="row col-12 m-0 col-md-4">
    <app-planning-perso></app-planning-perso>
  </div>
</div>
