<div class="wrapper fadeInDown row justify-content-center align-items-center pwd">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first row justify-content-center">
      <img src="./assets/icons8-infirmière-100.png" id="icon" alt="User Icon"/>
    </div>

    <!-- Login Form -->
    <form [formGroup]="passwordResetForm" (ngSubmit)="onSubmitPasswordReset()">
      <input type="text" id="login" class="fadeIn second" name="login" placeholder="email" formControlName="email">
      <input type="submit" class="fadeIn fourth" value="Log In" [disabled]="passwordResetForm.invalid">
    </form>


  </div>
</div>
